{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card form-card">
            <div class="card-header form-header-edit">
                <h4 class="mb-0">Edit Room: {{ room.room_number }}</h4>
            </div>
            <div class="card-body p-4">
                <form method="POST" novalidate>
                    {% csrf_token %}
                    
                    {{ form|crispy }}

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-update-matte">
                            Save Changes
                        </button>
                        <a href="{% url 'view_room' room.pk %}" class="btn btn-link text-muted">Discard Changes</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}